ttttttttttt
ttt{{g}}rrrrrr
rrrrrrrr

<div class="input-fields">
  <div class="inputName">
    <input id="busness_name" [(ngModel)]="searchName">
    <label class="'active" for="busness_name">Sort business name </label>
  </div>
</div>

<div class="select-boxes">
  <div class="select-boxItem">
    <app-company-filter [(ngModel)]="showTypeCompany"></app-company-filter>
  </div>
</div>

<div class="company-list">
  <div *ngFor="let item of company | search:searchName" >
    <a [routerLink]="['/detail',item.id]" > <div class="companyItem">
      <img class="imageCompanyItem" src="{{item.logo}}" alt="rr">
      {{item.suffix}}"{{item.business_name}}" <br>
      industry: {{item.industry}}<br>
      type: {{item.type}}
    </div></a>
  </div>
</div>
