<div class="company-list-page">
  <div></div>
  <div class="company-list">
    <div *ngFor="let item of company | search:searchName | show:showTypeCompany | showInd:showIndustryCompany">
      <a [routerLink]="['/detail',item.id]">
        <div class="companyItem">
          <div class="imageCompanyItem">
            <img class="image" src="{{item.logo}}" alt="rr">
          </div>

          <div class="firstInfoCompany">
            <div class="elmentInfo">
              <strong>name</strong>: <br> {{item.suffix}}"{{item.business_name}}"
            </div>
            <div class="elmentInfo">
              <strong>industry</strong> : {{item.industry}}
            </div>
            <div class="elmentInfo">
              <strong>type</strong>: {{item.type}}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="'lookNeedValue">
    <div class="input-fields">
      Find need company:
      <div class="inputName">
        <input class="input" id="busness_name" [(ngModel)]="searchName">
        <label class="'active" for="busness_name"></label>
      </div>
    </div>


    <div class="select-boxes">
      <div class="select-boxItem">
        <select class="custom-select" [(ngModel)]="showTypeCompany">
          <option value="">Choose your type company</option>
          <option *ngFor="let type of companyType" [ngValue]="type">{{type}}</option>
        </select>
      </div>

      <div class="select-boxItem">
        <select class="custom-select" [(ngModel)]="showIndustryCompany">
          <option value="">Choose your industry company</option>
          <option *ngFor="let industry of companyIndustry" [ngValue]="industry">{{industry}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
