<div class="company-list-page">
  <div></div>
  <div>
    <ng-container class="company-list" #itemsContainer></ng-container>
    <ng-template #item let-item="item">
      <app-company-item [companyItem]="item"></app-company-item>
    </ng-template>
  </div>

  <div class="'searchNeedValue">
    <div class="input-fields">
      <b>Find need company:</b>
      <div class="select-boxItem">
        <select class="custom-select" [(ngModel)]="searchName">
          <option value=""></option>
          <option>on type company</option>
          <option>on name company</option>
          <option>on industry</option>
        </select>
      </div>
    </div>

    <app-company-filter
      (onChange)="onFilterCompanies($event)"
      (isSortedOrFiltration)="checkAddMoreElementsOnScroll($event)"
    ></app-company-filter>
  </div>
</div>
