<div class="company-list-page">
  <div></div>
  <div>
    <ng-container  class="company-list" #itemsContainer></ng-container>
    <ng-template #item let-item="item">
      <app-company-item [companyItem]="item"></app-company-item>
    </ng-template>
  </div>

  <div class="change-company-list">
    <app-company-sort (onSortCompanyItems)="onSortCompanyItems($event)"></app-company-sort>

    <app-company-filter
      (onChange)="onFilterCompanies($event)"
      (isSortedOrFiltration)="checkAddMoreElementsOnScroll($event)"
    ></app-company-filter>
  </div>
</div>
