.company-list-page {
  width: 70%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  display: grid;
  grid-template-columns: 0.7fr 3fr 1fr;
  align-items: start;
  font-size: 20px;

  .company-list {
    justify-self: end;
  }

  .change-company-list {
    justify-self: start;
  }
}
