.company-list-page {
  width: 70%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  display: grid;
  grid-template-columns: 0.7fr 3fr 1fr;
  align-items: start;
  font-size: 20px;

  .company-list {
    justify-self: end;

    .companyItem:hover {
      box-shadow: rgba(117, 90, 87, 0.8) 0 0 15px 0;
      transform: scale(1.01);
    }
  }

  .searchNeedValue {
    justify-self: start;
  }
}


.input-fields {
  font-size: 25px;
  margin-bottom: 15px;

  .input {
    font-size: 23px;
    border-radius: 10px;
  }
}


.custom-select {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 23px;
  border-radius: 10px;
}


b {
  font-weight: 620;
}
