<form [formGroup]="controlsForm">
  <div class="select-boxes">
    <div class="input-name">
      <label for="name-company" class="label-filter-name">Search by name: </label>
      <input id="name-company"
             type="text"
             formControlName="nameCompany"
             class="input-filter-name"
             (input)="onSearchByName()">
    </div>

    <div class="select-boxItem">
      <select class="custom-controls" (change)="updateCompanyListFilter()" formControlName="typeCompany">
        <option selected [ngValue]=null>Choose your type company</option>
        <option *ngFor="let type of unicCompanyType" [ngValue]="type">{{type}}</option>
      </select>
    </div>

    <div class="select-boxItem">
      <select class="custom-controls" (change)="updateCompanyListFilter()" formControlName="industryCompany">
        <option selected [ngValue]=null>Choose your industry company</option>
        <option *ngFor="let industry of unicCompanyIndustry " [ngValue]="industry">{{industry}}</option>
      </select>
    </div>
  </div>
</form>
